*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;
    background-color: #000000;
    font-family: 'Overpass', sans-serif;
}


pre{
    font-size: 3em;
    margin: 0.75%
}

a{
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.main-text{
    width: 20em;
    font-family: 'Zilla Slab', serif;
    font-size: 120%;
    margin-left: 5%;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-links li{
    list-style: none;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.main-image{
    width: 40em;
    border-radius: 10%;
}

.page-end{
    width: 100%;
    display: flex;
    background-color: #cfcfcf;
    padding-bottom: 2%;
    display: block;
    font-family: 'Overpass', sans-serif
}

.page-end img{
    width: 5em;
}

.li1{
    display: flex;
    margin-top: 5%;
}

.li2{
    margin-top: 5%;
    display: flex;
}

.li3{
    margin-top: 5%;
    display: flex;
}

.li1 img{
    width: 7em;
    margin-left: -10%;
}

.li2 img{
    margin-left: 7%;
}

.li3 img{
    margin-left: 7%;
}

.li1 h2{
    margin-left: -1.5%;
}

.li2 h2{
    margin-left: 1%;
}

.li3 h2{
    margin-left: 1%;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 22%;

    }

    .li1 h2{
    margin-left: -3%;
    }
}

@media screen and (max-width: 900px){
    nav{
        display: block;
    }

    .nav-links{
        width: 100%;
    }

    .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;

    }

    .main-image{
        width: 20em;
        border-radius: 10%;
    }



}